.App {
  text-align: center;
}

.App-logo-static, .App-logo-switch:before, .App-logo-switch:after {
  background-size: contain;
  background-image: url('https://hijiangtao.github.io/rainmood/favicon.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 40vmin;
  width: 40vmin;
  cursor: pointer;
}

.App-logo-static {
  animation: App-logo-spin infinite 24s linear;
}

.App-logo-switch:after {
  animation: App-logo-swipe 1s linear;
  -webkit-animation-fill-mode: forwards;
  content: '';
  display: inline-block;
  /* margin-left: -40vmin; */
  /* animation: App-logo-spin infinite 24s linear; */
}
.App-logo-switch {
  /* animation: App-logo-spin infinite 24s linear; */
  /* animation: App-logo-swipe infinite 1s linear; */
  height: 40vmin;
  /* pointer-events: none; */
  cursor: pointer;
}
.App-logo-switch:before {
  animation: App-logo-swipe-reverse 1s linear;
  -webkit-animation-fill-mode: forwards;
  /* animation-direction: alternate; */
  content: '';
  display: inline-block;
  margin-left: -40vmin;
  /* animation: App-logo-swipe 1s linear; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #666;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-swipe {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes App-logo-swipe-reverse {
  from {
    transform: translateX(100%);
    opacity: 1;
  }
  to {
    transform: translateX(0%);
    opacity: 0;
  }
}