.App {
  text-align: center;
}

.App-logo-static, .App-logo-switch:before, .App-logo-switch:after {
  background-size: contain;
  background-image: url('//hijiangtao.github.io/rainmood/favicon.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 40vmin;
  width: 40vmin;
  cursor: pointer;
}

.App-logo-static {
  animation: App-logo-spin infinite 24s linear;
}

.App-logo-switch:after {
  animation: App-logo-swipe 1s linear;
  -webkit-animation-fill-mode: forwards;
  content: '';
  display: inline-block;
}
.App-logo-switch {
  height: 40vmin;
  cursor: pointer;
}
.App-logo-switch:before {
  animation: App-logo-swipe-reverse 1s linear;
  -webkit-animation-fill-mode: forwards;
  /* animation-direction: alternate; */
  content: '';
  display: inline-block;
  margin-left: -48vmin;
  margin-right: 8vmin;
  /* animation: App-logo-swipe 1s linear; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link, span, label {
  color: #666;
  font-size: 0.8rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-swipe {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes App-logo-swipe-reverse {
  from {
    transform: translateX(120%);
    opacity: 1;
  }
  to {
    transform: translateX(0%);
    opacity: 0;
  }
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin-bottom: 5px;
}
label {
  font-size: 0.8rem;
  line-height: 1rem;
}
input[type=range] {
  display: inline-block;
  /* -webkit-appearance: none; */
  color: rgb(144, 144, 144);
  text-shadow: 0px 0px 15px rgba(0,0,0,0.55);
}

.mr5 {
  margin-right: 5px;
}